.container {
  width: 100%;

  & > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 30%;
  height: 100vh;
  background: #000;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 70%;
  height: 100vh;
}
